<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.diagnostics>
      <switches>
        <add name="GetTitlesTrace" value="4"/>
        <!-- 0=Off -->
        <!-- 1=Error -->
        <!-- 2=Warning -->
        <!-- 3=Info -->
        <!-- 4=Verbose -->
      </switches>
      <!-- The following adds a trace listener using the web.config file. The web application will
	         not start however if access to the file "c:\TraceListnerAddedInWebConfig.txt" is not setup 
	         appropriately. You'll get an error: Exception in configuration section handler.
	     -->
    </system.diagnostics>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>